<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndPointUrl" value="https://cocacola-source.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="dCSxeBY49OsHMNWykWn7RhkY2uyWWnRssQZEajflB0FEgCS4WdaWGcdfmPj8iG3mmVQWDLtWQoI06Fq1mvXewg=="/>

    <add key="DatabaseName" value="bottlers"/>
    <add key="CollectionName" value="transactions"/>
    
    <add key="CollectionThroughput" value="100000"/>
    <add key="ShouldCleanupOnStart" value="false"/>
    <add key="ShouldCleanupOnFinish" value="false"/>
    
    <!-- determined by the tool -->
    <add key="DegreeOfParallelism" value="-1"/>
    <add key="NumberOfDocumentsToInsert" value="1000000000"/>

    <add key="CollectionPartitionKey" value="/shardkey"/>
    <add key="DocumentTemplateFile" value="CokeTrans.json"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>